.shop > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.shop__container{
    color: var(--color-primary);
    padding: 3rem;
    margin-top: 4rem;
}

.shop__header > h1 {
    margin-top: 8rem;
    font-weight: 700;
    text-align: center;
}

.shop__row{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    justify-content: center;
    margin-bottom: 1rem;
}



/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .shop__row {
      grid-template-columns: 1fr 1fr;
    }
    .shop__header{
        margin-top: 5rem;
    }
    .shop__container{
        margin-top: -1rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .shop__row{
        grid-template-columns: 1fr;
    }

    .shop__header > h1{
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 6rem;
    }
}