.cart {
    background-color: var(--color-light);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    z-index: 2;
    color: var(--color-white);
    padding: 2rem;
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
    height: max-content;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.link {
    color: var(--color-white);
}

.link:hover {
    color: var(--color-bg)
}

.cart__heading {
    padding: 0.95rem 1rem;
    font-weight: bold;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 1.25rem;
}

.cart__iner {
    padding: 1.25rem;
}

.cart__total {
    display: flex;
    padding: 1rem 1.25rem 0;
    border-top: 2px solid var(--color-primary);
    justify-content: space-between;
}

.cart__total-title {
    color: var(--color-primary);
    font-weight: bold;
}

.cart__total-price{
    color: var(--color-primary);
    font-weight: bold;
}

.cart__none {
    padding: 1.25rem;
    color: var(--color-primary);
    text-align: center;
}

.cart__footer {
    display: flex;
    justify-content: flex-end;
}

.cart__discount {
    padding: 0.5rem 0.75rem;
    margin: 0 1.25rem 1.25rem;
    border: none;
    border-bottom: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
    text-align: center;
}

.cart__btn-empty {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 0.75rem;
}

.cart__checkout {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding-left: 1.25rem;
    padding: 0.5rem 0.75rem;
    margin: 1.25rem 1.25rem;
    text-transform: capitalize;
    color: white;
    font-size: 0.85rem;
}

.cart__checkout:hover {
    background-color: lighten(#292B83, 10);
    border: 1px solid var(--color-primary);
    color: var(--color-primary)
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .cart{
        width: max-content;
        height: max-content;
        margin-bottom: 12rem;
        margin-top: 12rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .cart{
        width: 22rem;
        height: max-content;
        margin-bottom: 2rem;
        margin-top: 8rem;
    }
    .cart__heading > h2 {
        padding-top: 0;
    }
    .cart__discount {
        padding: 1rem 0.2px ;
    }
    .cart__btn-checkout {

    }
}