.menu__container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.menu__long {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: var(--color-bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 1px 13px 27px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 13px 27px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 13px 27px -5px rgba(0,0,0,0.75);
    padding: 0 24px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10rem;
}

.menu__logo {
    width: 90px;
    margin: auto;
}

.menu__long > nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: auto;
}

.text  {
    font-size: large;
    text-transform: uppercase;
    font-weight: 800;
}

.menu__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 800;
    font-size: 1.8rem;
}

.menu__icons:hover {
    color: var(--color-white);
}

.menu__search {
    margin-top: 15px;
}

.menu__basket {
    display: flex;
    align-items: center;
    gap: 1px;
}

.menu__basketCount {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .menu__long {
      grid-template-columns: 1fr 1fr;
  }

  .menu__long > nav {
      display: none;
  }
  
  .menu__icons {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
  }

  .menu__basket {
      gap: 1px;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .menu__long > nav {
      display: none;
  }
}