.addressForm {
    background-color: var(--color-light);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    z-index: 2;
    color: var(--color-white);
    padding: 2rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.addressForm > h2 {
    color: var(--color-primary);
}

.header {
    color: var(--color-primary);
    font-size: 1.5rem;
    padding: 5px;
    padding-bottom: 1rem;
}

.addressForm > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.addressForm > form > input {
    height: 30px;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
}

.order {
    display: none;
}

.form__error {
    background-color: white;
    color: red;
    text-align: right;
    padding: 2px;
}

.addressForm_btn > button:hover{
    border: 1px solid var(--color-primary);
} 

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px){
    .addressForm {
        width: 22rem;
    }
    .header{
        padding-bottom: 1.5rem;
    }

    .addressForm > form {
        grid-template-columns: 1fr;
    }
    .addressForm__cart {
        display: none !important;
    }
}