.home__about{
    background: var();
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    width: 100%;
}

.home__about > h5 {
    font-size: 2rem;
    padding-top: 2rem;
    color: var(--color-primary);
}

.home__about > h2 {
    font-size: 4rem;
    color: var(--color-primary);
}

.home__aboutContainer {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.home__aboutUs {
    width: 100%;
    animation-play-state: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.home__aboutUs-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.home__aboutUs-image:hover {
    transform: rotate(0);
}

.home__aboutContent > p {
    margin: 2rem 0 2.6rem;
    color: var(--color-primary);
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .home__aboutContainer {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .home__aboutUs {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .home__aboutContent > p {
        margin: 1rem 0 1.5rem;
    }
    .story {
        margin-bottom: 4rem;
        
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .home__aboutUs {
        width: 70%;
        margin: 0 auto;
    }

    .home__aboutContent {
        text-align: center;
    }

    .home__aboutContent > p {
        margin: 1.5rem 2rem;
    }

    .home__about > h2 {
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .home__about > h5 {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}