
.landingSection__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
   
}

.landingSection__text {
    margin-top: 10rem;
    text-align: center;
}

.text-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation > h2 {
    padding-bottom: 2rem;
    font-size: 4rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primary);
    padding-bottom: 2rem;
    overflow: hidden;
    width: 100%;
    animation: title 3s steps(100, end); 
}
/* The typing effect */
@keyframes title {
  from { width: 0; opacity: 0.3;}
  to { opacity: 1.0; } 
}

.landingSection__text > .btn {
    margin-top: 1.5rem !important;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .animation > h2 {
      font-size: 8vh;
      line-height: 1.2;
    }
    .landingSection__container{
        margin-top: 1rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .animation > h2 {
        font-size: 3rem;
        font-weight: 500 !important;
        margin-top: -100px;
        line-height: 1.2;
    }

    .landingSection__text {
        line-height: 1.2;
        margin-top: 15rem;
    }
}